body
{
    background-color:  #fcfcfc;
    font-family: 'Prompt', sans-serif;
    margin: 0;
}

h1
{
    text-align: center;
    letter-spacing: 6px;
    font-size: 50px;
    padding: 10px 0;
    margin: 0;

}

h2
{
    font-size: 24px;
    margin: 5px 0 12px 0;
    border-bottom: 2px solid #1a1a1a;
}

button
{
    font-family: 'Prompt', sans-serif;
    padding: 9px 35px;
    font-size: 16px;
    background-color: #1a1a1a;
    color: #fcfcfc;
    border: 2px solid #fcfcfc;
    border-radius: 30px;
    margin-bottom: 10px;
}

.settings
{
    background-color: #fcfcfc;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    border: 2px solid #1a1a1a;
    border-radius: 30px;
    margin: 0 auto 45px auto;
}

button:hover
{
    cursor: pointer;
    background-color:  #fcfcfc;
    color: #1a1a1a;
    border: 2px solid #1a1a1a;
}

.container
{
    width: 500px;
    height: 500px;
    border: 0;
    margin: 0 auto 40px auto;
    display: flex;
    flex-direction: column;
}

.row
{
    display: flex;
    flex-grow : 1;
}

.boxes{
    border: solid black;
    border-width: 1px 0 0 1px;
    display: inline-block;
    margin: 0;
    width: 5px;
    flex-grow: 1;
}